#post
  %h2= @post[:title]
  %time= @post[:timestamp]
  %p= @post[:body]

  %form{:method => 'post' }
    %input{ :name => '_method', :type => 'hidden', :value => 'delete'}
    %input{:type => 'submit', :value => 'Delete'}
